@import url("https://fonts.googleapis.com/css?family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%; }

a, a:hover, a:focus {
  text-decoration: none; }

.bg-one {
  background: #4b87d5 !important; }

.section-padding {
  padding: 60px 0px; }

.mb-15 {
  margin-bottom: 15px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); }

ul.white-menu li {
  color: #ffffff; }
  ul.white-menu li button {
    color: #fff;
    border: none; }
    ul.white-menu li button i {
      margin-right: 5px; }
  ul.white-menu li a {
    color: #fff;
    font-size: 14px; }
    ul.white-menu li a i {
      margin-right: 5px; }

.primary-btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #4b87d5; }

.text-color {
  color: #777777; }

.title-border {
  width: 60px;
  height: 3px;
  display: inline-block;
  background: #4b87d5; }

.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto 20px; }
  .section-title h2 {
    font-family: "Sanchez", serif;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    color: #483a3a; }

.head-title {
  font-family: "Sanchez", serif;
  font-size: 18px; }

.text-white {
  color: #fff !important; }

.bg-white {
  background: #fff !important; }

.bg-one {
  background: #f8f8f8; }

.owl-theme .owl-nav {
  position: absolute;
  right: -5px;
  top: -65px; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  width: 40px;
  height: 40px;
  background: #002c60;
  font-size: 20px;
  color: #fff; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff; }

.owl-dots {
  margin-top: 15px; }

.pb-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

ul {
  list-style: none;
  float: left; }

.section-banner {
  background: url("../front-end/images/about/banner.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .section-banner h2 {
    color: #fff;
    z-index: 9;
    font-size: 40px; }

.empty-space {
  height: 100px; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999999999; }

.btn-transparent {
  background: transparent;
  border: none; }
  .btn-transparent:hover {
    background: transparent;
    border: none; }

.btn-transparent:focus {
  background: transparent; }

div#sticker {
  background: #fff;
  z-index: 999999 !important;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0px 3px 3px rgba(226, 226, 226, 0.5); }

.is-sticky .logo img {
  top: 0px; }

.header-top {
  padding: 8px 0px; }

.navbar-wrapper .logo {
  position: absolute;
  top: -41px;
  width: 180px;
  z-index: 99; }
  .navbar-wrapper .logo img {
    width: 100%;
    height: 114px !important;
    object-fit: contain; }

.navigation {
  margin: 5px 0 0 0;
  text-align: right;
  width: 100%; }
  .navigation .mainnav {
    display: inline-block; }
    .navigation .mainnav a {
      color: #3f4944;
      font-size: 14px;
      font-weight: 700;
      padding: 28px 0;
      text-transform: uppercase;
      position: relative;
      margin: 0 10px;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: inline-block; }
      .navigation .mainnav a:hover {
        color: #4b87d5; }
      .navigation .mainnav a:last-child {
        margin-right: 0px; }

#bootstrap-touch-slider {
  position: relative; }
  #bootstrap-touch-slider .carousel-inner {
    height: 550px; }
    #bootstrap-touch-slider .carousel-inner .item {
      position: relative;
      width: 100%;
      height: 550px; }
      #bootstrap-touch-slider .carousel-inner .item img {
        height: 100%;
        width: 100%;
        position: relative;
        object-fit: cover; }

.carousel-indicators li {
  width: 20px;
  height: 10px;
  border-radius: 5px; }
  .carousel-indicators li:active {
    background: #4b87d5; }

.bs-slider .bs-slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important; }

.slide-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 550px;
  z-index: 9999;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%); }
  .slide-content h2 {
    font-size: 40px;
    margin: 10px 0px 20px 0px; }
  .slide-content p {
    font-size: 22px;
    line-height: 26px;
    font-weight: 300; }
  .slide-content a {
    color: #fff;
    font-size: 50px;
    font-weight: 700; }

.about-us {
  background: #f8f8f8; }

.about-conent h3 {
  font-size: 30px;
  color: #7d7d7d;
  margin-bottom: 20px;
  font-family: "Sanchez", serif; }
.about-conent h4 {
  font-size: 18px;
  margin: 10px 0px 20px 0px;
  color: #4b87d5; }
.about-conent p {
  font-size: 15px;
  color: #525252;
  line-height: 26px; }

.about-item {
  width: 23%;
  margin: 10px;
  background: #fff;
  padding: 20px;
  border: 1px solid #a3adbb;
  border-radius: 5px; }
  .about-item h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px; }
  .about-item h4 {
    font-size: 16px;
    color: #454248;
    font-weight: 400; }
  .about-item i {
    font-size: 30px;
    color: #4b87d5; }

.about-item-icon {
  width: 100%;
  border: 1px solid #d9d9da;
  background: #e6e6e6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 4px rgba(6, 44, 236, 0.2); }
  .about-item-icon img {
    height: 40px;
    margin-bottom: 10px; }
  .about-item-icon h4 {
    font-size: 16px; }

.about-content p {
  color: #737272;
  font-size: 15px;
  line-height: 25px; }

.about-video {
  position: relative;
  width: 100%;
  min-height: 400px; }

.about-video .overlay {
  background: rgba(26, 113, 255, 0.6); }

.video-content {
  text-align: center;
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 0px 50px; }
  .video-content a {
    height: 75px;
    width: 75px;
    background: #0077b5;
    line-height: 75px;
    font-size: 25px;
    border-radius: 100%;
    color: #fff;
    position: relative;
    display: inline-block;
    animation: fadeInLeft 1s; }
  .video-content h2 {
    font-size: 22px;
    animation: fadeInUp 1s;
    font-family: "Sanchez", serif;
    color: #fff;
    margin-top: 14px; }

.video {
  position: relative;
  height: 400px; }

.equipment {
  position: relative; }
  .equipment .latest-product .item .card-img-top {
    height: 190px;
    object-fit: fill; }
  .equipment .latest-product .item .card-body .card-title {
    font-size: 18px;
    color: #4c4b4b; }
  .equipment .latest-product .item .card-body .card-text {
    font-size: 14px; }
  .equipment .latest-product .item .card-body .btn-primary {
    padding: 6px 15px;
    font-size: 15px; }

/*=============== muslim-gallery  ===============*/
.gallery {
  background: #f8f8f8;
  height: 100%;
  width: 100%;
  height: auto; }
  .gallery .gallery .gallery-item {
    position: relative !important; }

.gallery .gallery-item img {
  width: 100%;
  height: 160px;
  object-fit: fill;
  padding-bottom: 15px; }

.gallery .gallery-item:hover .overlay {
  transform: scaleX(1); }

.gallery .gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 15px);
  width: 100%;
  background-color: rgba(74, 66, 66, 0.8);
  z-index: 11;
  transform: scaleX(0);
  transition-duration: all .3s ease;
  transition: all .3s ease; }

.gallery .gallery-item .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 124;
  width: 100%;
  transition: all .3s ease; }

.gallery .gallery-item:hover .item-content {
  transform: scale(1) translate(-50%, -50%); }

.gallery .gallery-item .item-content a span {
  display: inherit;
  cursor: pointer; }

.gallery .gallery-item .item-content a {
  text-align: center;
  display: inherit; }

.gallery .gallery-item .item-content a span {
  font-weight: 100;
  font-size: 36px;
  height: 50px;
  width: 50px;
  margin: auto;
  display: inline-block;
  background-color: #291f1f;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  position: relative;
  color: #4b87d5;
  transition-duration: all .3s ease;
  transform: translate; }

.gallery .gallery-item .item-content a span:after {
  content: '';
  position: absolute;
  border-radius: 100%;
  border: #4b87d5 solid 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left; }

.gallery .gallery-item .item-content:hover span:after {
  border: 2px solid #4b87d5;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px; }

.gallery .gallery-item .item-content p {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-align: center; }

.item-thumb {
  position: relative;
  margin-bottom: 10px; }

.isotope-header .button-group {
  text-align: center;
  padding-bottom: 20px; }

.isotope-header .button-group button {
  background-color: transparent; }

.isotope-header .button-group button {
  background-color: transparent;
  color: #a3a19d;
  padding: 10px 10px;
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-right: 2px; }

.isotope-header .button-group button:focus, .isotope-header .button-group button.is-checked {
  color: #fff;
  background-color: #4b87d5; }

.gallery .custom-btn {
  display: block;
  text-align: center;
  border: 0px;
  border-radius: 0px;
  color: #fff; }

.send-us-message input {
  width: 370px;
  margin: 15px 3px;
  padding: 10px 15px;
  border: 1px solid #e9e5e5; }

.send-us-message textarea {
  width: 100%;
  height: 250px;
  margin: 20px 0px;
  padding: 15px;
  border: 1px solid #e9e5e5; }

.client-feedback-wrapper {
  background: #e4e4e4; }
  .client-feedback-wrapper .client-content p {
    color: #717171;
    line-height: 26px; }
  .client-feedback-wrapper .client-info {
    width: 100%; }

.branding-section {
  background: #f8f8f8; }
  .branding-section .brand.col-md-2.col-md-4 {
    width: 20%; }

.brand-thumb img {
  width: 100%;
  margin-bottom: 15px; }

/*========= address-item ============*/
.address-item {
  width: 50%;
  float: left;
  margin: 0;
  min-height: 200px; }

.address-item li {
  float: none;
  text-align: center;
  color: #333;
  font-weight: 700; }

.address-item li i {
  font-size: 55px;
  color: #0077b5; }

.newsletter {
  padding: 50px 0px; }

.newsletter input {
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0px; }

.newsletter .custom-btn {
  width: 200px;
  padding: 20px 15px;
  font-weight: 700; }

.footer-top .social {
  margin: 0; }

.footer-top .social li a {
  font-size: 18px;
  padding: 5px; }

/*========= footer-bottom =========*/
.footer-bottom {
  padding: 30px 0px;
  font-size: 18px; }

.footer-bottom a {
  font-size: 18px;
  color: #0077B5;
  font-weight: 700;
  margin: 0px 5px; }

.social-item {
  position: relative;
  display: inline-block;
  margin: 0; }

.social-item:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 22px;
  width: 1px;
  background: #e9e5e5;
  margin-right: -11px; }

.social-item li a {
  color: #c5beb9;
  font-size: 15px; }

.social-item li a i {
  padding: 5px; }

.social li {
  float: left; }

.footer-top {
  background: #f8f8f8; }

/*scroll top*/
.top {
  position: absolute;
  right: 15px;
  bottom: 0; }

.scrollTop {
  position: fixed;
  right: 0;
  bottom: 0px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s; }

.testimonial-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.client-feedback {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 15px; }

.client-content i {
  display: block;
  text-align: center;
  font-size: 40px;
  color: #4b87d5;
  margin-bottom: 20px; }
.client-content p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  text-align: center; }

.client-info {
  background: #fff;
  width: 400px;
  margin: 40px auto;
  position: relative;
  padding: 20px 15px; }

.client-info::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -29px;
  left: 50%;
  transform: rotate(180deg);
  border-top: 15px solid #ffffff;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent; }

.client-thumb {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 15px; }
  .client-thumb img {
    width: 100%; }

.client-degination h4, .client-degination p {
  color: #0077B5;
  margin: 7px 0px; }

.client-degination {
  display: table;
  text-align: center;
  padding: 5px 14px; }

.blog-item {
  margin-bottom: 15px;
  height: 100%; }
  .blog-item .card-img-top {
    height: 170px;
    object-fit: cover; }
  .blog-item .card-title {
    margin-bottom: .75rem;
    color: #777676;
    font-size: 16px; }
  .blog-item .card-text p {
    font-size: 14px; }

.single-post-thumb img {
  width: 100%; }

.single-post-content h3 {
  font-size: 24px;
  color: #716363;
  margin-top: 10px; }
.single-post-content p {
  color: #8e8e8e;
  font-size: 15px;
  line-height: 28px; }

canvas {
  display: block;
  vertical-align: bottom; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #4b87d5;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative; }

.mission-vission {
  background: #f2f2f2; }

.mission h3 {
  font-size: 25px;
  margin-bottom: 0; }
.mission .mission-item {
  margin-bottom: 15px; }
  .mission .mission-item img {
    width: 100px; }

.bangladesh-map {
  display: table;
  margin: 36px auto 10px; }

.vission.text-center {
  width: 100%;
  margin-top: 30px; }
  .vission.text-center p {
    font-family: "Satisfy", cursive;
    font-size: 40px;
    color: #5d5959; }
    .vission.text-center p strong {
      color: #4b87d5; }

/*# sourceMappingURL=style.css.map */
