.equipment{
    position: relative;
    .latest-product{
        .item{
            .card-img-top{
                height: 190px;
                object-fit: fill;
            }
            .card-body{
                .card-title{
                    font-size: 18px;
                    color: #4c4b4b;
                }
                .card-text{
                    font-size: 14px;
                }
                .btn-primary{
                    padding: 6px 15px;
                    font-size: 15px;
                }
            }
        }
    }
}